.Button {
  align-self: center;
  min-width: 100px;
  border-radius: 50px;
  font-size: 0.9rem;
  padding: 7.5px;
  margin: 2px;
  background-color: #9d4edd;
  border: 1px solid #9247cf;
  color: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s ease-in-out;
}

.Button:hover {
  background-color: #9247cf;
  border-color: #9d4edd;
  font-weight: 600;
  color: #ffffff;
}

.Button:active:not(:disabled),
.Button:focus:not(:disabled) {
  background-color: #9247cf;
  border-color: #9d4edd;
  transform: translateY(1px);
  outline: none;
}

.Button:focus {
  box-shadow: none !important;
}
