.Post {
  color: black;
  background-color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 25px;
}

.Post figure,
h5 {
  margin: 0 0;
}

.Heart {
  color: #f85032;
}

.Heart:hover {
  color: #4c23e8;
}

.HeartOutline:hover {
  color: #f85032;
}