.SearchBar input {
  border-radius: 20px;
  color: rgb(104, 2, 104);
  padding-left: 50px;
  margin-bottom: 15px;
}

.SearchBar input:focus {
  border-color: rgb(160, 160, 160);
  box-shadow: 0 0 0 0.2rem white;
}

.SearchIcon {
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
}

.SearchIcon:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #9d4edd;
}

.Tags {
  background-color: #9d4edd;
  cursor: pointer;
  padding: 5px 10px;
}

.Tags:hover {
  background-color: #7700d8;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.PostTags {
  text-align: center;
}

.TagIcon {
  color: #9d4edd;
}

@media only screen and (max-width: 992px) {
  div span img {
    height: 30px;
    width: auto;
  }
}
