.Container {
  min-height: 320px;
}

.Form {
  text-align: center;
  border: 1.5px solid #9d4edd;
  border-radius: 20px;
}

.AlertStyles {
  position: relative;
  padding: 0.75rem 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 20px;
  color: #8b0000;
  background-color: #ffc6c6;
  border-color: #ffa5a5;
  animation: alert-animation 0.5s ease-in-out forwards;
}

.noResize {
  resize: none;
}

@keyframes alert-animation {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}
